@mixin hover($_property, $_toValue) {
  transition: #{$_property} $transition-duration;

  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin transition(
  $_property: all,
  $_duration: $transition-duration,
  $_timing-function: ease,
  $_delay: 0s
) {
  transition: $_property $_duration $_timing-function $_delay;
}

@mixin size($_width, $_height) {
  width: $_width;
  height: $_height;
}

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin onTablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}
