// primary

$primary-color: #eb5440;
$secondary-color: #4a4b4c;
$tertiary-color-1: #e8e8e8;
$tertiary-color-2: #c3c3c3;
$background-color-1: #f6f6f6;
$background-color-2: #ffffff;

$text-color-primary: #000000;
$text-color-secondary: #4a4b4c;
$text-color-hyperlink: #067bc2;

$font-open-sans: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-montserrat: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;

// breakpoints

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
